body{
    background-color: rgb(27, 65, 53);
    text-align: center;
    color: rgb(37, 37, 16);
    font-size: 30px;
    background-image: url("../images/cape.jpeg");
    background-position: center;
    background-repeat: inherit;
}
input[type=submit]{
    background-color: rgb(25, 32, 10);
    color: rgb(138, 132, 64);
    height: 50px;
    width: 150px;
    font-size: 30px;
    border-radius: 20px;
}
input[type=text]{
    height: 50px;
    font-size: 25px;
    width: 120px;
}
input[type=checkbox]{
    height: 20px;
}
#images{
    float: left;
    padding-left: 50px;
}

