body{
    background-color: rgb(27, 65, 53);
    text-align: center;
    color: rgb(129, 129, 68);
    font-size: 30px;
}
input[type=submit]{
    background-color: olivedrab;
    color: palegoldenrod;
    height: 50px;
    width: 100px;
}
input[type=text]{
    height: 50px;
    font-size: 25px;
    width: 120px;
}

